mixin button(object)
    if(object.tag === 'a')
        a.button(class=object.modificator href=object.href)
            span.button__text #{object.title}
    else
        button.button(class=object.modificator data-target=object.target)
            span.button__text #{object.title}


