mixin button(text, modificator, target)
    if(!target)
        a.button(class=modificator href=link)
            span.button__text #{text}
    else
        button.button(class=modificator data-target=target)
            span.button__text #{text}
