mixin card-icon(object)
    .card__body
        block
        if(object.title)
            h3.h3.card__title #{object.title}

        if(object.subtitle)
            h5.h5.card__title #{object.subtitle}

        p.card__text #{object.text}

        if(object.link)
            p.card__more #{object.link}

    if(object.notice)
        .card__footer
            p.card__notice #{object.notice}

